:root {
    --layout-dark-blue: #2C3E50;
    --layout-light-green: #1ABC9C;
    --card-red: #BA4B63;
    --card-light-blue: #1EA4B6;
    --card-dark: #140F0F;
    --card-blue: #1C83C1;
    --card-deep-blue: #0E38B5;
    --card-beige: #CCB2A3;
    --footer-blue: #3A546D;

}

/* Header, Footer */

.page-header,
.footer-copyright {
    background-color: var(--layout-dark-blue);
}

.footer-contact {
    background-color: var(--footer-blue);
}

/* Main */

.hero,
.about-me {
    background-color: var(--layout-light-green);
}

.hero-img {
    width: 235px;
}



/* debug */

.debug .container {
    border: 2px solid magenta;
}

.debug .row {
    border: 2px solid rgb(119, 0, 255);
}

.debug .row>* {
    border: 2px solid rgb(103, 148, 66);
}