:root {
    --layout-dark-blue: #2C3E50;
    --layout-light-green: #1ABC9C;
    --footer-blue: #3A546D;
}

/* Header, Footer */

.page-header,
.footer-copyright {
    background-color: var(--layout-dark-blue);
}

.footer-contact {
    background-color: var(--footer-blue);
}

/* Main */

.hero,
.about {
    background-color: var(--layout-light-green);
}

.hero-img {
    width: 235px;
}

.star-divider {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 40%;
}

.star-divider::before,
.star-divider::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: currentColor;
    border-radius: 9999px;
}

.button-light {
    background-color: var(--layout-light-green);
    color: rgb(255, 255, 255);
    border: 1px solid currentColor;    
    border-radius: 5px;
    padding: 0 10px;
    line-height: 30px;    
    transition: 200ms all;
}

.button-light:hover {
    background-color: white;
    color: var(--layout-light-green);
    border: 1px solid currentColor;    
}

::placeholder {
    color: var(--layout-dark-blue);
  }

  .footer-heading {
    font-size: 16px;
  }

  .footer-text {
    font-size: 12px;
    line-height: 1.2;
  }

  .footer-link {
    color: var(--layout-light-green);
  }

  .footer-contact i {
    border: 1px solid currentColor;
    width: 32px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  .copyright-text {
    font-size: 10px;
  }

  .top-return {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    bottom: 15px;
    right: 15px;
  }

/* debug */

.debug .container {
    border: 2px solid magenta;
}

.debug .row {
    border: 2px solid rgb(119, 0, 255);
}

.debug .row>* {
    border: 2px solid rgb(103, 148, 66);
}